<!DOCTYPE html>
<html>
<head>
  <title>Bills Separate</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">

    <div>
        <input v-model="input">
        <button v-on:click="calculateSalaries">Calculate Salaries</button>
    </div>
    <div v-if="output !== ''">
        <ul>
            <li v-for="item in output">{{ item.value }}</li>
        </ul>
    </div>
    
  </div>

  <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Bills Separate!',
            input: "",
            output: [],
            total: 0
        },
        methods: {
            calculateSalaries: function () {
                this.output = []
                let amount = this.input

                let denominations = [1000, 500, 100, 50, 20, 10, 1, .25]

                for (let denomination of denominations) {
                    if (Math.floor(amount / denomination) > 0) {
                        this.output.push({ value: Math.floor(amount / denomination) + " x " + denomination + ( denomination >= 1 ? ".00" : "") })
                        amount %= denomination
                    }
                }
            }
        }
    })
  </script>
</body>
</html>
